/* Global */

body{
    font-family:"Comic Sans MS";
    background-color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 4%;
    margin-left: 4%;  
}

html{
    background-image: linear-gradient(to left, rgb(212, 26, 26), rgb(92, 7, 7));
}

header{
    background-color: gray;
    padding: 1px;
    font-family: fantasy;
    text-align: center;
    color: firebrick;
    font-weight: bolder;
    font-size: 300%;
}

footer{
    background-color: gray;
    font-family: 'Lucida Sans';
}

main{
    margin-top: 1%;
    margin-bottom: 3%;    
    margin-right: 2%;
    margin-left: 2%;
}

.title{
    text-align: center;
    font-weight: bold;
}

.back{
    background-color: whitesmoke;
    border-color: #ddd;
}

.back:hover{
    background-color: rgb(226, 226, 226);
}

/* Links & Nav */

nav{
    background-color: #666;
    color: #FFFF;
    font-weight: bold;
    padding: 1%;
}

.nav_link{
    color: Black;
    text-decoration: none;
    padding: 1%;
    margin: 0px;
}

.nav_link:hover{
    background-color: rgb(90, 90, 90);
    text-decoration: none;
}

.all_link{
    color: Black;
    text-decoration: none;
}

.all_link:hover{
    color: rgb(70, 70, 70);
    text-decoration: none;
}

/* images */

.all_img{
    float: left;
    
}

/* Spells */

.h1spell{
    text-align: center;
}

.pspell{
    text-align: center;
}

/* Spells */
.search {
    border: 1px solid #ddd; 
    background-color: rgb(235, 235, 235);
    margin-right: 80%;
    margin-left: -30px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display:block;
}

.search:hover{
    background-color: #d1d1d1da;
}

#myUL{
    list-style-type: none;
}

#myInput{
  width: 50%;
  font-size: 15px;
  padding-block: 8px;
  padding-left: 5px;
  margin-bottom: 0px; 
}       