{% extends 'layout.html' %}
{% block content %}
<h1 class="center">Making A Character</h1>
<hr>
<h3> What You Will Need </h3>
<li>Dice Set</li>
<li>Character Sheet</li>
<li>Pencil</li>
<li>Eraser</li>
<p>The first thing you'll need to do is build a character. Each time 
    you play you use a unique character that you can make yourself or 
    use a premade one. If you want to build a character follow these 
    steps are look below for a premade character.</p>

<br>    

<h4>Step 1:</h4>
<p>Before you create your character you need somewhere to make them. 
    This is where your character sheet will come in. There are 3 sheets 
    you might need to build your character: the stat sheet, character sheet 
    and spell sheet.</p>

<p Class="bold">-Stat sheet</p>
<p>The first and most important is the stat sheet. This is where you will 
    store all of your character stats, equipment, actions and other core 
    information. This is the only necessary sheet to play the game as it 
    holds all of the characters battle information such as health and 
    damage on attacks.</p>

<p Class="bold">-character sheet</p>
<p>Next is the character sheet. This sheet is not necessary but many 
    players use it to store information about their character’s appearance,
    backstory or beliefs. This information is not needed to play the game but 
    it can help your character feel more unique.</p>

<p Class="bold">-spell sheet</p>
<p>Last is the spell sheet. This is used to store all of the character's known 
    spells. This is not always needed as your character might not use magic and 
    doesn’t have access to spells. However if you plan on making a spellcaster I 
    would recommend using this sheet to help organise your information.</p>

<p>Now that you know what each sheet does, you're ready to print the ones you want. 
    There are many different styles of these sheets and can easily be found with a 
    quick search. However if you don’t care about appearance I would recommend using 
    the official D&D 5th edition (5e) sheets below.</p>

<a href="https://media.wizards.com/2022/dnd/downloads/DnD_5E_CharacterSheet_FormFillable.pdf">CharacterSheet.pdf</a>

<br>

<h4>Step 2:</h4>
<p>Now that you have your character sheets you're ready to start making your character. 
    The first step towards the creation of your new character is to pick a race. Using 
    this website go to the race page and look for one that you want to play. Once you 
    decide on a race you can begin to fill in the information on your stat sheet. You 
    can enter the race at the top of your page as well as your speed, traits, 
    proficiencies and languages. You can also decide your appearance on your character 
    sheet such as height, age as well as eye and hair colour, it’s up to you.</p>

<br>

<h4>Step 3:</h4>
<p>The next step towards the creation of your new character is to pick a class. Using 
    this website go to the class page and look for one that you want to play. Once you 
    decide on a class you can begin to fill in the information on your stat sheet. You 
    can enter the class at the top of your page as well as your hit dice, features, 
    proficiencies and languages( if available ).</p>

<br>

<h4>Step 4:</h4>
<p>Now it’s time to pick your ability scores. There are 3 ways to decide your ability 
    scores: Manual roll, point buy and standard array. Before rolling your ability scores 
    talk to your DM as they will be responsible for deciding which method will be used.</p>

<p Class="bold">-Manual Roll</p>
<p>Manual roll is the least consistent method and can result in very low or high numbers. 
    To do the manual roll method roll 4d6. Now remove the lowest number and add the other 
    3 together. This is the number you will use for your ability score repeat 5 more times 
    so you have 6 numbers. You can then choose which number you will use for each ability.</p>

    <p Class="bold">-Point Buy</p>
    <p>Point Buy is a system that removes the luck and allows the player to either balance 
        their ability scores or way them towards a certain ability. To use the point buy 
        system you are given 27 points and can decide your ability scores using the table below:</p>

<table>
    <tr>
        <th>Score</th>
        <th>cost</th>
    </tr>
    <tr>
        <td>7</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>8</td>
        <td>0</td>
    </tr>
    <tr>
        <td>9</td>
        <td>1</td>
    </tr>
    <tr>
        <td>10</td>
        <td>2</td>
    </tr>
    <tr>
        <td>11</td>
        <td>3</td>
    </tr>
    <tr>
        <td>12</td>
        <td>4</td>
    </tr>
    <tr>
        <td>13</td>
        <td>5</td>
    </tr>
    <tr>
        <td>14</td>
        <td>6</td>
    </tr>
    <tr>
        <td>15</td>
        <td>8</td>
    </tr>
    <tr>
        <td>16</td>
        <td>10</td>
    </tr>
    <tr>
        <td>17</td>
        <td>13</td>
    </tr>
    <tr>
        <td>18</td>
        <td>16</td>
    </tr>
</table>

<p Class="bold">-Standard Array</p>
<p>The standard array method removes the luck from your ability scores and helps balance 
    each players ability scores as they all use the same number. In the standard array 
    method you are given the numbers 8, 10, 12, 13, 14 and 15. Each player can then decide 
    which number they will give to each ability. This helps even each players skill so 
    that you don’t have a party with one much stronger or weaker player.</p>

<p>To determine your modifier for each ability you can use the table below:</p>

<table>
    <tr>
        <th>Score</th>
        <th>Modifier</th>
    </tr>
    <tr>
        <td>1</td>
        <td>-5</td>
    </tr>
    <tr>
        <td>2 - 3</td>
        <td>-4</td>
    </tr>
    <tr>
        <td>4 - 5</td>
        <td>-3</td>
    </tr>
    <tr>
        <td>6 - 7</td>
        <td>-2</td>
    </tr>
    <tr>
        <td>8 - 9</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>10 - 11</td>
        <td>0</td>
    </tr>
    <tr>
        <td>12 - 13</td>
        <td>+1</td>
    </tr>
    <tr>
        <td>14 - 15</td>
        <td>+2</td>
    </tr>
    <tr>
        <td>16 - 17</td>
        <td>+3</td>
    </tr>
    <tr>
        <td>18 - 19</td>
        <td>+4</td>
    </tr>
    <tr>
        <td>20</td>
        <td>+5</td>
    </tr>
</table>

<br>

<h4>Step 5:</h4>
<p>Now that you’ve got your ability scores you can add your skills. Each skill has an ability 
    that it relates to. The skill will be equal to the corresponding abilities modifier. Eg: if 
    you have a strength of 12 your athletics will be +1. However some classes and races give 
    you proficiencies in certain skills. If you are proficient in a skill fill in the circle 
    next to it and add your proficiency bonus to the skill. Eg: if your level 1 and proficient 
    in athletics it will now be +3. Use the table below to work out your proficiency bonus.</p>

<table>
    <tr>
        <th>Level</th>
        <th>Proficiency Bonus</th>
    </tr>
    <tr>
        <td>1 - 4</td>
        <td>+2</td>
    </tr>
    <tr>
        <td>5 - 8</td>
        <td>+3</td>
    </tr>
    <tr>
        <td>9 - 12</td>
        <td>+4</td>
    </tr>
    <tr>
        <td>13 - 16</td>
        <td>+5</td>
    </tr>
    <tr>
        <td>17 - 20</td>
        <td>+6</td>
    </tr>
</table>

{% endblock %}
