{% extends 'layout.html' %}
{% block content %}
<h1>Dungeons & Dragons</h1>
<hr>
<img class="home_img" src="static/images/logo.png">
<p>Welcome to the immersive D&D hub, where the magic of storytelling and adventure awaits! My website 
    is your ultimate resource for all things Dungeons & Dragons. Whether you're a seasoned dungeon delver 
    or a curious novice, I'm here to provide you with a treasure trove of information on the world's most 
    beloved tabletop role-playing game. Explore in-depth guides on character creation, delve into rich 
    lore, and embark on a journey through the captivating realms of D&D. This website is your trusted companion on 
    your quest to build your own unique character, complete with abilities, backstory, and personality. 
    Let your imagination run wild as you craft your hero's tale, and may your adventures be filled 
    with epic quests and legendary encounters!</p>
    
<br>
<hr>
<br>
<H2>What is Dungeons & Dragons?</H2>
<img class="home_right_img" src="static/images/dragon.png"> 
<p>Dungeons & Dragons, often abbreviated as D&D, is a captivating tabletop role-playing game (RPG) 
    that transports players to fantastical realms filled with magic, monsters, and endless adventure. 
    Created in the 1970s, D&D has since become an iconic part of pop culture and a beloved pastime 
    for millions of enthusiasts worldwide.</p>

<p>In D&D, players take on the roles of brave heroes, cunning rogues, mighty wizards, and other unique 
    characters. Guided by their imaginations and the Dungeon Master (DM), the storyteller 
    of the game, players embark on epic quests, solve puzzles, engage in battles, and make crucial moral 
    decisions that shape the unfolding narrative.</p>
    
<p>What sets D&D apart is its limitless potential for creativity. Players can craft their own elaborate 
    worlds or immerse themselves in published campaign settings, each with its own rich history and lore. 
    The game's core rulebooks provide a framework for gameplay, but the true magic lies in the freedom 
    to invent characters, develop intricate plotlines, and interact with a diverse cast of characters 
    and creatures.</p>

<img class="home_left_img" src="static/images/dice.png">     

<p>Whether you're a seasoned adventurer or new to the world of tabletop RPGs, D&D offers a thrilling 
    and inclusive experience. It's a game that brings people together, fostering teamwork, storytelling, 
    and problem-solving skills. D&D isn't just a game; it's a collaborative journey where imagination 
    knows no bounds.</p>

<p>Explore dungeons, battle dragons, forge alliances, and unravel mysteries in Dungeons & Dragons. Join 
    the ranks of adventurers, and let your imagination soar in a world where the possibilities are as
     endless as your dreams.</p>
     
<p>Start your own D&D adventure today and embark on a quest that will capture your heart and ignite your imagination.</p>
<br>
{% endblock %}
